.profileAvatar{
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 99px;
}
.profileAvatarPost{
  width: 50px;
  height: 50px;
  border-radius: 99px;
}
.profileAvatarPeople{
  width: 100%;
  height: 200px;
}

.galleryItem{
    width: 25%;
    height: 100px;
    float: left;
    border: solid #fff 2px;
}
